a:link {
	color: #1e3c82;
	text-decoration: none;
}
a:visited {
	color: #1e3c82;
	text-decoration: none;
}
a:active {
	color: #1e3c82;
	text-decoration: underline;
}
a:hover {
	color: #ff0000;
	text-decoration: underline;
}
article address {
	display: inline-block;
	font-style: normal;
	font-weight: bolder;
}
body {
	background-color: #ffffff;
	font-family: sans-serif;
	font-size: 9pt;
	margin: 0px;
}
div {
	font-family: sans-serif;
	font-size: 9pt;
}
h1 {
	font-family: sans-serif;
	font-size: 12pt;
	margin-top: 0px;
}
h2 {
	font-family: sans-serif;
	font-size: 10pt;
}
h3 {
	font-family: sans-serif;
	font-size: 9pt;
	font-weight: bolder;
}
table {
	border-collapse: collapse;
}
th {
	color: #ffffff;
	font-weight: normal;
	background-color: #506890;
	text-align: left;
}
blockquote {
	background-color: #eeeeee;
	border-left: 8px solid #d3d3d3;
	margin: 8px 8px;
	padding: 8px 8px;
}
hr {
	border: 0px;
	height: 1px;
	background-color: #d3d3d3;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
input[type="text"] {
	width: 100%;
}
input[type="search"] {
	width: 100%;
}
select {
	width: 100%;
}
textarea {
	width: 100%;
}
.breadcrumbs {
	background-color: #eeeeee;
	border: 1px solid #888888;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	font-family: sans-serif;
	font-size: 10pt;
	margin: 0px;
	margin-bottom: 8px;
	height: 26px !important;
	list-style-type: none;
	padding: 0px;
}
.breadcrumbs li {
	display: inline-block;
	margin-left: -16px;
}
.breadcrumbs li:first-child {
	margin-left: 0px;
}
.breadcrumbs li:first-child a {
	background-position: 4px;
	padding-left: 10px;
}
.breadcrumbs li:first-child a::before {
	background-image: none;
}
.breadcrumbs a {
	background-color: #eeeeee;
	display: inline-block;
	margin: 0px;
	text-decoration: none;
	color: #888888;
	position: relative;
	height: 24px;
	xpadding-right: 4px;
}
.breadcrumbs a:hover {
	color: #ffffff;
	background-color: #d3d3d3;
	z-index: 1;
}
.breadcrumbs a::before {
	background-size: 12px 24px;
	content: "";
	display: inline-block;
	margin: 0px;
	background-image: url(/images/crumb.png);
	width: 12px;
	height: 24px;
	vertical-align: -50%;
}
.breadcrumbs a:hover::before {
	background-image: url(/images/crumb_before.png);
}
.breadcrumbs a::after {
	background-image: url(/images/crumb.png);
	background-size: 12px 24px;
	content: "";
	display: inline-block;
	right: 8px;
	width: 12px;
	height: 24px;
	vertical-align: -50%;
}
.breadcrumbs a:hover::after {
	background-image: url(/images/crumb_after.png);
	width: 12px;
	xpadding-right: -4px;
}
.left_right_box {
	display: table;
	margin-bottom: 8px;
	width: 100%;
}
.left_right_box .right_box {
	display: table-cell;
	margin-bottom: 0px;
}
.left_right_box .left_box {
	display: table-cell;
	margin-bottom: 0px;
}
.right_box {
	clear: both;
	text-align: right;
	margin-bottom: 8px;
	white-space: nowrap;
}
.left_box {
	clear: both;
	text-align: left;
	margin-bottom: 8px;
	white-space: nowrap;
}
.title {
	border-collapse: separate;
	padding-bottom: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	width: 100%;
}
.title_links {
	text-align: right;
}
.title_links a {
	margin-left: 4px;
	margin-right: 4px;
}
.title_links a:hover {
	text-decoration: underline;
}
.footer {
	border-top: 1px #d3d3d3 solid;
	padding-bottom: 8px;
	padding-top: 8px;
	display: table;
	width: 100%;
}
.footer a {
	margin-left: 4px;
	margin-right: 4px;
}
.footer a:link {
	color: #888888;
}
.footer a:visited {
	color: #888888;
}
.footer a:hover {
	color: #888888;
	text-decoration: underline;
}
.poll_title_right {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-right-radius: 10px;
	font-size: 10pt;
	font-weight: bolder;
	padding: 8px;
	width: 240px;
}
.poll_title_full {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-right-radius: 10px;
	font-size: 10pt;
	font-weight: bolder;
	padding: 8px;
}
.poll_answer {
	padding-top: 8px;
}
.poll_question {
	font-weight: bolder;
	padding: 4px;
}
.poll_table {
}
.poll_table td {
	padding-top: 4px;
	padding-bottom: 4px;
}
.poll_table input[type="text"] {
	width: 24px;
	margin-right: 4px;
	text-align: center;
}
.poll_result {
	border: 1px solid #888888;
	border-collapse: separate;
	border-spacing: 0px 0px;
	width: 100%
}
.poll_result th {
	background-color: #506890;
}
.poll_result td {
	background-color: #d3d3d3;
	color: #666666;
	padding: 4px;
	white-space: nowrap;
}
.poll_footer {
	display: table;
	margin-top: 4px;
	width: 100%;
}
.poll_footer div {
	display: table-cell;
}
.poll_short {
	color: #666666;
	font-size: 8pt;
}
.poll_short a {
	color: #666666;
}
.poll_sortable {
	list-style-type: none;
	margin: 0px;
	margin-bottom: 8px;
	padding: 0px;
}
.poll_sortable li {
	border: 1px solid #d3d3d3;
	display: table;
	margin-bottom: 4px;
	padding-left: 4px;
	width: 100%;
}
.poll_sortable div {
	display: table-cell;
}
.poll_sortable div:nth-child(2) {
	width: 100%;
}
.poll_sortable div:nth-child(3) {
	padding: 2px;
}
.poll_sortable input {
	border: 1px solid #d3d3d3;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 2px;
	width: 100%;
}
.poll_sortable li:nth-child(even) {
	background-color: #ffffff;
}
.poll_sortable li:nth-child(odd) {
	background-color: #eeeeee;
}
.pipe_status {
	font-size: 10pt;
	font-weight: bolder;
	text-align: center;
	white-space:nowrap;
}
.pipe_editor {
	color: #666666;
	font-size: 8pt;
	text-align: center;
	white-space: nowrap;
}
.story {
}
.story h1 {
	background-color: #506890;
	border-top-left-radius: 10px;
	color: #ffffff;
	font-size: 10pt;
	font-weight: bolder;
	margin: 0px;
	padding: 6px;
	padding-left: 10px;
}
.story h1 a {
	color: #ffffff;
}.story h2 {
	background-color: #d3d3d3;
	color: #666666;
	font-size: 8pt;
	font-weight: normal;
	margin: 0px;
	padding: 8px;
	padding-left: 10px;
}
.story h2 a {
	color: #666666;
}
.story h2 a:hover {
	text-decoration: underline;
}
.story div {
	border: 1px solid #d3d3d3;
	border-top: 0px;
	border-bottom: 0px;
	margin: 0px;
	overflow: auto;
	padding: 10px;
}
.story div a {
	text-decoration: underline;
}
.story footer {
	border: 1px solid #d3d3d3;
	border-top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: table;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	width: 100%;
}
.story footer div {
	border-width: 0px;
	display: table-cell;
	padding: 0px;
	width: 50%;
}
.story footer div a {
	text-decoration: none;
}
.story_icon_middle {
	position: absolute;
	right: 360px;

}
.story_icon_right {
	position: absolute;
	right: 60px;

}
.bug_table {
	display: table;
	width: 100%;
}
.bug_table article {
	display: table-cell;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 4px;
	vertical-align: top;
	width: 100%;
}
.bug_table aside {
	display: table-cell;
	padding-bottom: 8px;
	padding-left: 4px;
	padding-right: 0px;
	vertical-align: top;
	width: 400px;
}
.bug_row {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.bug_title {
	xdisplay: table;
	font-size: 10pt;
	font-weight: bolder;
	padding-bottom: 6px;
	xpadding-top: 2px;
}
.bug_title a {
	color: #000000;
	padding-right: 4px;
}
.bug_title div {
	display: table-cell;
	vertical-align: middle;
}
.bug_subtitle {
	color: #666666;
	font-size: 8pt;
	font-weight: normal;
}
.bug_subtitle a {
	color: #666666;
}
.bug_label_wide {
	padding-top: 2px;
	padding-bottom: 2px;
}
.label {
	border-radius: 2px;
	box-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2) inset;
	font-size: 8pt;
	font-weight: bolder;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
	padding-right: 4px;
	margin: 2px;
}
.bug_label_wide a {
	display: block;
	width: 100%;
}
.bug_screenshots, .bug_attachments {
	border: 1px solid #888888;
	border-top: 0px;
	border-bottom-left-radius: 10px;
	padding: 8px;
	padding-bottom: 0px;
	margin-bottom: 8px;
}
.bug_screenshots a {
	display: block;
	text-align: center;
}
.bug_screenshots img {
	width: 128px;
	height: 128px;
	margin: 0px;
	padding-bottom: 4px;
}
.bug_attachments a {
	display: block;
	margin-bottom: 8px;
}
.pipe_title_expand {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-left-radius: 10px;
	color: #000000;
	font-size: 10pt;
	font-weight: bolder;
	padding: 0px;
	padding-left: 4px;
	margin-top: 8px;
}
.pipe_title_expand a {
	color: #000000;
}
.pipe_title_collapse {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #000000;
	font-size: 10pt;
	font-weight: bolder;
	padding: 0px;
	padding-left: 4px;
	margin-top: 8px;
}
.pipe_title_collapse a {
	color: #000000;
}
.pipe_subtitle {
	color: #666666;
	font-size: 8pt;
	font-weight: normal;
	padding: 0px;
}
.pipe_subtitle a {
	color: #666666;
}
.pipe_body {
	border: 1px solid #d3d3d3;
	border-top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
}
.pipe_body a {
	text-decoration: underline;
}
.pipe_pointer {
	cursor: pointer;
	width: 100%;
}
.pipe_down {
	background-image: url(/images/down-32.png);
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.pipe_minus {
	background-image: url(/images/minus-32.png);
	cursor: pointer;
	xmargin-top: 2px;
	width: 32px;
	height: 32px;
}
.pipe_plus {
	background-image: url(/images/plus-32.png);
	cursor: pointer;
	xmargin-top: 2px;
	width: 32px;
	height: 32px;
}
.pipe_undo {
	background-image: url(/images/undo-32.png);
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.pipe_up {
	background-image: url(/images/up-32.png);
	cursor: pointer;
	width: 32px;
	height: 32px;
}
.comment_header {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #666666;
	margin-bottom: 8px;
	padding: 4px;
	padding-left: 10px;
}
.comment_header a {
	color: #666666;
	font-size: 10pt;
	font-weight: bolder;
}
.comment h3 {
	border-top-left-radius: 10px;
	color: #ffffff;
	font-size: 9pt;
	padding: 4px;
	padding-left: 16px;
	margin-top: 2px;
	margin-bottom: 0px;
}
.color_new {
	background-color: #506890;
}
.color_old {
	background-color: #666666;
}
.color_junk {
	background-color: #882222;
}
.comment h4 {
	background-color: #d3d3d3;
	color: #666666;
	font-size: 8pt;
	font-weight: normal;
	padding: 4px;
	padding-left: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.comment h4 a {
	color: #666666;
}
.comment h4 a:hover {
	text-decoration: underline;
}
.comment h5 {
	border: 1px solid #d3d3d3;
	border-top-left-radius: 10px;
	border-bottom: 0px;
	cursor: pointer;
	font-size: 9pt;
	font-weight: normal;
	height: 24px;
	line-height: 22px;
	overflow: hidden;
	padding: 2px;
	padding-left: 16px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.comment h5 b {
	color: #506890;
}
.comment_outline {
	border: 1px solid #d3d3d3;
	border-top: 0px;
	padding-left: 16px;
	padding-right: 2px;
	margin-bottom: 2px;
}
.comment_body {
	border-width: 0px;
	padding-top: 10px;
	padding-right: 8px;
	padding-left: 0px;
	padding-bottom: 0px;
}
.comment_body a {
	text-decoration: underline;
}
.xcomment div:nth-child(1) {
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
}
.xcomment div:nth-child(1) a {
	text-decoration: underline;
}
.comment footer {
	display: table;
	padding-top: 8px;
	padding-bottom: 4px;
	padding-right: 6px;
	width: 100%;
}
.comment footer div {
	border-width: 0px;
	display: table-cell;
	padding: 0px;
	width: 50%;
}
.comment footer a {
	text-decoration: none !important;
}
.comment footer select {
	margin-left: 8px;
	width: 100px;
}
.edit_title {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-left-radius: 10px;
	border-bottom: 0px;
	color: #666666;
	display: table;
	font-weight: bolder;
	padding: 4px;
	padding-left: 16px;
	width: 100%;
}
.edit_title div {
	display: table-cell;
}
.edit_title div:nth-child(2) {
	text-align: center;
}
.edit_title div:nth-child(3) {
	text-align: right;
}
.edit_body {
	border: 1px solid #888888;
	border-bottom-right-radius: 10px;
	margin-bottom: 8px;
	padding: 8px;
	padding-left: 16px;
	width: 100%;
}
.edit_body a {
	text-decoration: underline;
}
ins {
	background-color: #bbc99b;
	color: #456104;
}
del {
	background-color: #e5ac9d;
	color: #962000;
}
.topic_box {
	background-position: 50% 16%;
	background-repeat: no-repeat;
	border: 1px solid #888888;
	border-radius: 4px;
	float: left;
	font-weight: bolder;
	text-align: center;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 128px;
	height: 90px;
	padding: 4px;
	padding-top: 68px;
}
.topic_box:hover {
	background-color: #d3d3d3;
}
.tbox {
	border: 1px solid #888888;
	border-radius: 4px;
	float: left;
	font-weight: bolder;
	text-align: center;
	margin-right: 8px;
	margin-bottom: 8px;
	width: 128px;
	height: 90px;
	padding: 4px;
}
.tbox:hover {
	background-color: #d3d3d3;
}
.tbox img {
    	display: block;
	margin-left: auto;
	margin-right: auto;
}
.aphone_64 {
	background-image: url(/images/aphone-64.png);
}
.apple_64 {
	background-image: url(/images/apple-64.png);
}
.beakers_64 {
	background-image: url(/images/beakers-64.png);
}
.binder_64 {
	background-image: url(/images/binder-64.png);
}
.chrome_64 {
	background-image: url(/images/chrome-64.png);
}
.computers_64 {
	background-image: url(/images/computers-64.png);
}
.devil_64 {
	background-image: url(/images/devil-64.png);
}
.drive_64 {
	background-image: url(/images/drive-64.png);
}
.gavel_64 {
	background-image: url(/images/gavel-64.png);
}
.globe_64 {
	background-image: url(/images/globe-64.png);
}
.hardhat_64 {
	background-image: url(/images/hardhat-64.png);
}
.internet_64 {
	background-image: url(/images/internet-64.png);
}
.joystick_64 {
	background-image: url(/images/joystick-64.png);
}
.lock_64 {
	background-image: url(/images/lock-64.png);
}
.microphone_64 {
	background-image: url(/images/microphone-64.png);
}
.microsoft_64 {
	background-image: url(/images/microsoft-64.png);
}
.moon_64 {
	background-image: url(/images/moon-64.png);
}
.movies_64 {
	background-image: url(/images/movies-64.png);
}
.news_64 {
	background-image: url(/images/news-64.png);
}
.pipedot_64 {
	background-image: url(/images/pipedot-64.png);
}
.robot_desktop_64 {
	background-image: url(/images/robot-desktop-64.png);
}
.soccer_64 {
	background-image: url(/images/soccer-64.png);
}
.tux_64 {
	background-image: url(/images/tux-64.png);
}
.ubunchu_64 {
	background-image: url(/images/ubunchu-64.png);
}
.user_box {
	width: 100%;
}
.user_box a {
	background-position: 5% 50%;
	background-repeat: no-repeat;
	border: 1px solid #ffffff;
	border-radius: 4px;
	display: block;
	font-size: 9pt;
	font-weight: bolder;
	height: 48px;
	line-height: 32px;
	padding-left: 48px;
	vertical-align: middle;
	width: 139px;
}
.user_box a:hover {
	border: 1px solid #888888;
	background-color: #d3d3d3;
}
.fill {
	width: 100%;
	vertical-align: top;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.nowrap {
	white-space: nowrap;
}
.right_col {
	vertical-align: top;
	padding-left: 8px;
	width: 300px;
}
.feed_box {
	padding: 8px;
	vertical-align: top;
	width: 33%;
}
.feed_title {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 0px;
	border-spacing: 0px;
	font-weight: bolder;
	font-size: 10pt;
	padding: 4px;
	spacing: 8px;
	text-align: center;
	width: 100%;
}
.feed_body {
	border: 1px solid #888888;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 4px;
	spacing: 8px;
	margin-bottom: 8px;
	margin-top: 0px;
	width: 100%;
}
.feed_body li {
	padding: 2px;
	padding-left: 4px;
	list-style-position: inside;
}
.feed_body a:visited {
	color: #888888;
}
.round {
	border: 1px solid #888888;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom: 8px;
	width: 100%;
}
.round td, .round th {
	padding: 4px;
}
.row_tab {
	display: table;
	width: 100%;
}
.row_caption {
	width: 140px !important;
}
.row_tab div {
	display: table-cell;
	vertical-align: middle;
}
.row_tab input[type="checkbox"] {
	display: table-cell;
	vertical-align: middle;
}
.row_outline {
	background-color: #ffffff;
	border: 1px #d3d3d3 solid;
	display: block !important;
	padding-top: 3px;
	padding-left: 2px;
	height: 24px;
}
.row_button {
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px #d3d3d3 solid;
	border-radius: 4px;
	display: block !important;
	height: 24px;
	width: 24px;
	cursor: pointer;
	padding: 0px;
	margin-left: 2px;
}
.row_button:hover {
	background-color: #aebcd4;
}
.outline {
	border: 1px #d3d3d3 solid;
	border-spacing: 0px;
	margin-bottom: 8px;
	padding: 4px;
	width: 100%;
}
.outline th {
	border-right: 1px #d3d3d3 solid;
	padding: 4px;
}
.outline td {
	padding: 4px;
	border-top: 1px #d3d3d3 solid;
	border-right: 1px #d3d3d3 solid;
}
.zebra {
	border: 1px #d3d3d3 solid;
	border-spacing: 0px;
	margin-bottom: 8px;
	padding: 4px;
	width: 100%;
}
.zebra tr:nth-child(even) {
	background-color: #ffffff;
}
.zebra tr:nth-child(odd) {
	background-color: #eeeeee;
}
.zebra th {
	padding: 4px;
}
.zebra td {
	padding: 4px;
	vertical-align: middle;
}
.zebra select {
	width: 100%;
}
.zebra input[type="password"] {
	border: 1px #d3d3d3 solid;
	width: 100%;
}
.zebra input[type="text"] {
	background-color: #ffffff;
	border: 1px #d3d3d3 solid;
	padding: 2px;
	width: 100%;
}
.row_outline input[type="password"] {
	background-color: #ffffff;
	border: 0px;
	padding: 0px;
}
.row_outline input[type="text"] {
	border: 0px;
	padding: 0px;
}
.zebra textarea {
	width: 100%;
}
.hover:hover {
	background-color: #aebcd4;
	cursor: pointer;
	padding: 4px;
}
.hover a {
	color: #000000;
	text-decoration: none;
}
.dialog_title {
	background-color: #d3d3d3;
	border: 1px solid #888888;
	border-top-right-radius: 10px;
	font-size: 10pt;
	font-weight: bolder;
	padding: 8px;
}
.dialog_body {
	border: 1px solid #888888;
	border-top: 0px;
	border-bottom-left-radius: 10px;
	padding: 8px;
	margin-bottom: 8px;
}
.dialog_body input[type="text"] {
	border: 1px #d3d3d3 solid;
	padding: 2px;
}
.dialog_body textarea {
	border: 1px #d3d3d3 solid;
	padding: 2px;
}
.right_bar {
	width: 300px;
}
.balloon {
	background-color: #ffffcc;
	border: 1px solid #ffcc66;
	border-radius: 4px;
	padding: 8px;
	margin-bottom: 8px;
}
.mirror_balloon {
	background-color: #ffffcc;
	border: 1px solid #ffcc66;
	border-radius: 4px;
	display: block;
	padding-top: 12px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 8px;
}
.search a {
	text-decoration: underline;
}
.search h1 {
	font-size: 12pt;
	margin: 0px;
	margin-bottom: 2px;
	margin-top: 16px;
}
.search h2 {
	color: darkgreen;
	display: inline;
	font-size: 9pt;
	font-weight: normal;
}
.search h3 {
	color: #666666;
	display: inline;
	font-size: 9pt;
	font-weight: normal;
}
.search h3 a {
	color: #666666;
	font-weight: bolder;
	text-decoration: none;
}
.search h3 a:link {
	xcolor: #888888;
}
.search h3 a:visited {
	xcolor: #888888;
}
.search h3 a:hover {
	text-decoration: underline;
}
.search p {
	color: #333333;
	margin: 0px;
	margin-top: 2px;
	height: 47px;
	overflow: hidden;
	line-height: 15px;
}
.icon_32 {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 40px;
	padding-top: 8px;
	height: 40px;
	font-size: 12pt;
}
.dl_32 {
	background-position: left center;
	background-repeat: no-repeat;
	margin: 0px;
	padding-left: 40px;
	height: 40px;
}
.dl_32 dt {
	color: #000000;
	font-size: 12pt;
	padding-top: 2px;
	padding-bottom: 2px;
}
.dl_32 dd {
	color: #000000;
	font-size: 8pt;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.recent_journal img {
	border-radius: 4px;
	height: 32px;
	width: 32px;
	margin-right: 4px;
}
.recent_journal_title {
	font-size: 9pt;
	padding-top: 2px;
	padding-bottom: 2px;
}
.recent_journal_author {
	font-size: 8pt;
	padding-bottom: 4px;
}
.recent_journal_author a {
	color: #666666;
}
.icon_description {
	color: #000000;
	font-size: 8pt;
	padding-top: 2px;
	padding-bottom: 2px;
}
.icon_title {
	color: #000000;
	font-size: 12pt;
	padding-top: 2px;
	padding-bottom: 2px;
}
.story_image_128 {
	float: right;
	margin-left: 8px;
	margin-bottom: 8px;
	width: 128px;
	height: 128px;
}
.story_image_256 {
	float: right;
	margin-left: 8px;
	margin-bottom: 8px;
	width: 256px;
	height: 256px;
}
.block {
	display: block;
}
.card {
	background-color: #ffffff;
	border: 1px solid #9f9f9f;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 0px;
	margin: 4px;
	width: 338px;
}
.card_large {
	background-color: #ffffff;
	border: 1px solid #9f9f9f;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom: 8px;
	width: 100%;
}
.card_row {
	display: table;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	width: 100%;
}
.card_row_link {
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	display: table;
	margin-bottom: 3px;
	margin-top: 8px;
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	width: 100%;
}
.card_profile {
	display: table-cell;
	border-radius: 4px;
	height: 32px;
	width: 32px;
}
.card_by_box {
	display: table-cell;
	padding-left: 8px;
	vertical-align: top;
	width: 100%;
}
.card_by {
	display: block;
	font-size: 10pt;
	font-weight: bolder;
	padding-top: 2px;
}
.card_time {
	color: #666666;
	font-size: 8pt;
}
.card_vote {
	display: table-cell;
	vertical-align: top;
}
.card_vote_box {
	display: table;
	float: right;
}
.card_button {
	xbackground-color: #ffffff;
	border: 1px #d3d3d3 solid;
	border-radius: 4px;
	cursor: pointer;
	display: table-cell;
	height: 24px;
	padding: 3px;
	width: 24px;
}
.card_button:hover {
	background-color: #aebcd4;
}
.card_vote_count {
	display: table-cell;
	font-weight: bolder;
	padding-bottom: 4px;
	padding-left: 5px;
	padding-right: 6px;
	padding-top: 4px;
	vertical-align: middle;
}
.card_story_box {
	display: table-cell;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 8px;
	vertical-align: top;
}
.card_story_image {
	display: table-cell;
	margin-right: 8px;
	width: 128px;
}
.card_story_link {
	display: block;
	font-size: 10pt;
	font-weight: bolder;
	padding-bottom: 8px;
}
.card_story_site {
	display: block;
	color: #666666 !important;
	font-size: 8pt;
}
.card_photo_9x16 {
	width: 320px;
	height: 569px;
}
.card_photo_3x4 {
	width: 320px;
	height: 427px;
}
.card_photo_1x1 {
	width: 320px;
	height: 320px;
}
.card_photo_4x3 {
	width: 320px;
	height: 240px;
}
.card_photo_16x9 {
	width: 320px;
	height: 180px;
}
.card_footer {
	display: table;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 8px;
	padding-top: 5px;
}
.card_comments {
	display: table-cell;
	font-weight: bolder;
	padding-top: 5px;
	white-space: nowrap;
	vertical-align: top;
}
.card_tags {
	display: table-cell;
	font-size: 8pt;
	padding-top: 6px;
	text-align: right;
	vertical-align: top;
	width: 100%;
}
.card_large .card_tags {
	text-align: center;
}
.card_tag {
	color: #666666 !important;
	padding-left: 4px;
}
.card_options {
	display: table-cell;
	white-space: nowrap;
}
.block {
	display: block;
}
.cell {
	display: table-cell;
}
.stream {
	border-top: 1px #d3d3d3 solid;
	display: block;
	background-color: #eeeeee;
}
.photo_thumb_small {
	width: 128px;
	height: 128px;
}
.photo_thumb_large {
	width: 256px;
	height: 256px;
}
.photo_tiny_9x16 {
	width: 160px;
	height: 284px;
}
.photo_tiny_3x4 {
	width: 160px;
	height: 213px;
}
.photo_tiny_1x1 {
	width: 160px;
	height: 160px;
}
.photo_tiny_4x3 {
	width: 160px;
	height: 120px;
}
.photo_tiny_16x9 {
	width: 160px;
	height: 90px;
}
.photo_small_9x16 {
	width: 320px;
	height: 569px;
}
.photo_small_3x4 {
	width: 320px;
	height: 427px;
}
.photo_small_1x1 {
	width: 320px;
	height: 320px;
}
.photo_small_4x3 {
	width: 320px;
	height: 240px;
}
.photo_small_16x9 {
	width: 320px;
	height: 180px;
}
.photo_medium_9x16 {
	width: 640px;
	height: 1138px;
}
.photo_medium_3x4 {
	width: 640px;
	height: 853px;
}
.photo_medium_1x1 {
	width: 640px;
	height: 640px;
}
.photo_medium_4x3 {
	width: 640px;
	height: 480px;
}
.photo_medium_16x9 {
	width: 640px;
	height: 360px;
}
.photo_big_9x16 {
	width: 540px;
	height: 960px;
}
.photo_big_3x4 {
	width: 540px;
	height: 720px;
}
.photo_big_1x1 {
	width: 540px;
	height: 540px;
}
.photo_big_4x3 {
	width: 720px;
	height: 540px;
}
.photo_big_16x9 {
	width: 480px;
	height: 540px;
}
.photo_large_9x16 {
	width: 1080px;
	height: 1920px;
}
.photo_large_3x4 {
	width: 1080px;
	height: 1440px;
}
.photo_large_1x1 {
	width: 1080px;
	height: 1080px;
}
.photo_large_4x3 {
	width: 1440px;
	height: 1080px;
}
.photo_large_16x9 {
	width: 1920px;
	height: 1080px;
}
.story .photo_frame {
	border: 1px #d3d3d3 solid;
	background-color: #eeeeee;
	display: inline-block;
	margin-bottom: 8px;
	padding: 8px;
	text-align: center;
}
.story .photo_frame div {
	border: 0px;
	padding: 0px;
	padding-top: 4px;
}
.photo_frame {
	border: 1px #d3d3d3 solid;
	background-color: #eeeeee;
	margin-bottom: 8px;
	padding: 8px;
	text-align: center;
}
.photo_frame div {
	padding-top: 6px;
}
.static {
	border-top: 1px #d3d3d3 solid;
	padding-bottom: 8px;
	padding-top: 8px;
}
.pages {
	margin-bottom: 8px;
	text-align: center;
}
.pages a {
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px #d3d3d3 solid;
	border-radius: 4px;
	display: inline-block;
	height: 24px !important;
	width: 24px;
	line-height: 22px;
	padding: 0px;
	margin: 2px;
	vertical-align: middle;
}
.pages a:hover {
	background-color: #aebcd4;
}
.pages span {
	background-color: #eeeeee;
	border: 1px #d3d3d3 solid;
	border-radius: 4px;
	color: #666666;
	display: inline-block;
	height: 24px;
	width: 24px;
	line-height: 22px;
	padding: 0px;
	margin: 2px;
	vertical-align: middle;
}
.pages_first {
	background-image: url(/images/first-16.png);
}
.pages_last {
	background-image: url(/images/last-16.png);
}
.pages_left {
	background-image: url(/images/left-16.png);
}
.pages_right {
	background-image: url(/images/right-16.png);
}
.popular {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.popular li {
	display: table;
	height: 34px;
	padding: 0px;
	padding-left: 4px;
}
.popular div {
	display: table-cell;
	vertical-align: middle;
}
.popular_count {
	background-color: #eeeeee;
	border: 1px #d3d3d3 solid;
	border-radius: 4px;
	color: #666666;
	display: inline-block;
	font-weight: bolder;
	padding: 4px;
}
.popular_title {
	padding-left: 8px;
	width: 100%;
}
.logo_big {
	background-image: url(/images/logo-top-64.png);
	background-repeat: no-repeat;
	width: 240px;
	height: 64px;
}
.logo_small {
	background-image: url(/images/logo-32.png);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.map {
	width: 1280px;
	height: 640px;
}
@media all and (max-width: 765px) {
	.logo_big {
		display: none;
	}
	.logo_small {
		display: inline-block;
	}
	nav {
		border-top: 1px solid #d3d3d3;
		border-bottom: 1px solid #d3d3d3;
		font-weight: bolder;
		margin-bottom: 8px;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;
		text-align: center;
	}
	.nav_inactive {
		display: inline-block;
		padding: 4px;
		width: 60px;
	}
	.nav_active {
		background-color: #d3d3d3;
		border: 1px solid #888888;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
		color: #000000 !important;
		text-decoration: none !important;
		display: inline-block;
		padding: 4px;
		width: 60px;
	}
	.topics {
		display: none;
	}
	aside {
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 0px;
	}
	main {
		display: block;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.search {
		display: block;
	}
	.footer div {
		color: #888888;
		text-align: center;
	}
	.dual_table {
		display: block;
	}
	.dual_left, .dual_right {
		display: block;
		padding: 0px;
	}
	.tri_table {
		display: block;
	}
	.tri_left, .tri_center, .tri_right {
		display: block;
		padding: 0px;
	}
}
@media all and (min-width: 766px) {
	.logo_big {
		display: inline-block;
	}
	.logo_small {
		display: none;
	}
	nav {
		display: table-cell;
		font-weight: bolder;
		padding-bottom: 8px;
		padding-left: 8px;
		padding-right: 0px;
		padding-top: 0px;
		width: 92px;
		vertical-align: top;
	}
	.nav_inactive {
		display: block;
		padding: 4px;
		width: 80px;
	}
	.nav_active {
		background-color: #d3d3d3;
		border: 1px solid #888888;
		border-top-left-radius: 2px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 2px;
		color: #000000 !important;
		text-decoration: none !important;
		display: block;
		padding: 4px;
		width: 80px;
	}
	aside {
		display: table-cell;
		padding-bottom: 8px;
		padding-left: 0px;
		padding-right: 8px;
		padding-top: 0px;
		width: 300px;
		vertical-align: top;
	}
	main {
		display: block;
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 0px;
		padding-bottom: 0px;
		vertical-align: top;
		width: 100%;
	}
	.search {
		display: table-cell;
	}
	.footer div {
		color: #888888;
		display: table-cell;
		text-align: center;
		width: 50%;
	}
	.dual_table {
		display: table;
		width: 100%;
	}
	.dual_left {
		display: table-cell;
		padding-bottom: 8px;
		padding-left: 0px;
		padding-right: 4px;
		vertical-align: top;
		width: 50%;
	}
	.dual_right {
		display: table-cell;
		padding-bottom: 8px;
		padding-left: 4px;
		padding-right: 0px;
		vertical-align: top;
		width: 50%;
	}
	.tri_table {
		display: table;
		width: 100%;
	}
	.tri_left, .tri_center, .tri_right {
		display: table-cell;
		padding-bottom: 8px;
		padding-left: 4px;
		padding-right: 4px;
		width: 33%;
	}
	.tri_left {
		padding-left: 0px;
	}
	.tri_right {
		padding-right: 0px;
	}
}
.icon_16 {
	background-position: left;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	padding-left: 20px;
}
.calendar_16 {
	background-image: url(/images/calendar-16.png);
}
.certificate_16 {
	background-image: url(/images/certificate-16.png);
}
.chat_16 {
	background-image: url(/images/chat-16.png);
}
.clip_16 {
	background-image: url(/images/clip-16.png);
}
.close_16 {
	background-image: url(/images/close-16.png);
}
.coins_16 {
	background-image: url(/images/coins-16.png);
}
.contact_new_16 {
	background-image: url(/images/contact-new-16.png);
}
.delete_16 {
	background-image: url(/images/delete-16.png);
}
.drive_16 {
	background-image: url(/images/drive-16.png);
}
.exit_16 {
	background-image: url(/images/exit-16.png);
}
.feed_16 {
	background-image: url(/images/feed-16.png);
}
.folder_16 {
	background-image: url(/images/folder-16.png);
}
.folder_home_16 {
	background-image: url(/images/folder-home-16.png);
}
.folder_new_16 {
	background-image: url(/images/folder-new-16.png);
}
.heart_16 {
	background-image: url(/images/heart-16.png);
}
.home_16 {
	background-image: url(/images/home-16.png);
}
.inbox_16 {
	background-image: url(/images/inbox-16.png);
}
.junk_16 {
	background-image: url(/images/junk-16.png);
}
.ladybug_16 {
	background-image: url(/images/ladybug-16.png);
}
.mail_16 {
	background-image: url(/images/mail-16.png);
}
.mail_compose_16 {
	background-image: url(/images/mail-compose-16.png);
}
.mail_forward_16 {
	background-image: url(/images/mail-forward-16.png);
}
.mail_reply_16 {
	background-image: url(/images/mail-reply-16.png);
}
.minus_16 {
	background-image: url(/images/minus-16.png);
}
.news_16 {
	background-image: url(/images/news-16.png);
}
.notepad_16 {
	background-image: url(/images/notepad-16.png);
}
.package_16 {
	background-image: url(/images/package-16.png);
}
.picture_16 {
	background-image: url(/images/picture-16.png);
}
.plus_16 {
	background-image: url(/images/plus-16.png);
}
.sent_16 {
	background-image: url(/images/sent-16.png);
}
.share_16 {
	background-image: url(/images/share-16.png);
}
.tag_16 {
	background-image: url(/images/tag-16.png);
}
.tools_16 {
	background-image: url(/images/tools-16.png);
}
.trash_16 {
	background-image: url(/images/trash-16.png);
}
.tweet_16 {
	background-image: url(/images/tweet-16.png);
}
.undo_16 {
	background-image: url(/images/undo-16.png);
}
.users_16 {
	background-image: url(/images/users-16.png);
}
.vsort_16 {
	background-image: url(/images/vsort-16.png);
}
.bulb_32 {
	background-image: url(/images/bulb-32.png);
}
.chat_32 {
	background-image: url(/images/chat-32.png);
}
.coins_32 {
	background-image: url(/images/coins-32.png);
}
.drive_32 {
	background-image: url(/images/drive-32.png);
}
.error_32 {
	background-image: url(/images/error-32.png);
}
.face_crying_32 {
	background-image: url(/images/face-crying-32.png);
}
.face_grin_32 {
	background-image: url(/images/face-grin-32.png);
}
.face_plain_32 {
	background-image: url(/images/face-plain-32.png);
}
.face_sad_32 {
	background-image: url(/images/face-sad-32.png);
}
.face_smile_32 {
	background-image: url(/images/face-smile-32.png);
}
.heart_32 {
	background-image: url(/images/heart-32.png);
}
.html_32 {
	background-image: url(/images/html-32.png);
}
.important_32 {
	background-image: url(/images/important-32.png);
}
.internet_32 {
	background-image: url(/images/internet-32.png);
}
.junk_32 {
	background-image: url(/images/junk-32.png);
}
.mail_32 {
	background-image: url(/images/mail-32.png);
}
.news_32 {
	background-image: url(/images/news-32.png);
}
.notepad_32 {
	background-image: url(/images/notepad-32.png);
}
.picture_32 {
	background-image: url(/images/picture-32.png);
}
.plus_32 {
	background-image: url(/images/plus-32.png);
}
.shirts_32 {
	background-image: url(/images/shirts-32.png);
}
.stop_32 {
	background-image: url(/images/stop-32.png);
}
.tools_32 {
	background-image: url(/images/tools-32.png);
}
.update_32 {
	background-image: url(/images/update-32.png);
}
.usb_32 {
	background-image: url(/images/usb-32.png);
}
.users_32 {
	background-image: url(/images/users-32.png);
}
.warning_32 {
	background-image: url(/images/warning-32.png);
}
.workgroup_32 {
	background-image: url(/images/workgroup-32.png);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.icon_16 {
		background-size: 16px 16px;
	}
	.icon_32 {
		background-size: 32px 32px;
	}
	.icon_64 {
		background-size: 64px 64px;
	}
	.dl_32 {
		background-size: 32px 32px;
	}
	.bug_32 {
		background-size: 32px 32px;
	}
	.topic_box {
		background-size: 64px 64px;
	}
	.calendar_16 {
		background-image: url(/images/calendar-32.png);
	}
	.certificate_16 {
		background-image: url(/images/certificate-32.png);
	}
	.chat_16 {
		background-image: url(/images/chat-32.png);
	}
	.clip_16 {
		background-image: url(/images/clip-32.png);
	}
	.close_16 {
		background-image: url(/images/close-32.png);
	}
	.contact_new_16 {
		background-image: url(/images/contact-new-32.png);
	}
	.delete_16 {
		background-image: url(/images/delete-32.png);
	}
	.drive_16 {
		background-image: url(/images/drive-32.png);
	}
	.edit_16 {
		background-image: url(/images/edit-32.png);
	}
	.exit_16 {
		background-image: url(/images/exit-32.png);
	}
	.feed_16 {
		background-image: url(/images/feed-32.png);
	}
	.folder_16 {
		background-image: url(/images/folder-32.png);
	}
	.folder_home_16 {
		background-image: url(/images/folder-home-32.png);
	}
	.folder_new_16 {
		background-image: url(/images/folder-new-32.png);
	}
	.heart_16 {
		background-image: url(/images/heart-32.png);
	}
	.home_16 {
		background-image: url(/images/home-32.png);
	}
	.inbox_16 {
		background-image: url(/images/inbox-32.png);
	}
	.junk_16 {
		background-image: url(/images/junk-32.png);
	}
	.ladybug_16 {
		background-image: url(/images/ladybug-32.png);
	}
	.mail_16 {
		background-image: url(/images/mail-32.png);
	}
	.mail_compose_16 {
		background-image: url(/images/mail-compose-32.png);
	}
	.mail_forward_16 {
		background-image: url(/images/mail-forward-32.png);
	}
	.mail_reply_16 {
		background-image: url(/images/mail-reply-32.png);
	}
	.minus_16 {
		background-image: url(/images/minus-32.png);
	}
	.news_16 {
		background-image: url(/images/news-32.png);
	}
	.notepad_16 {
		background-image: url(/images/notepad-32.png);
	}
	.package_16 {
		background-image: url(/images/package-32.png);
	}
	.picture_16 {
		background-image: url(/images/picture-32.png);
	}
	.plus_16 {
		background-image: url(/images/plus-32.png);
	}
	.sent_16 {
		background-image: url(/images/sent-32.png);
	}
	.share_16 {
		background-image: url(/images/share-32.png);
	}
	.tag_16 {
		background-image: url(/images/tag-32.png);
	}
	.tools_16 {
		background-image: url(/images/tools-32.png);
	}
	.trash_16 {
		background-image: url(/images/trash-32.png);
	}
	.tweet_16 {
		background-image: url(/images/tweet-32.png);
	}
	.undo_16 {
		background-image: url(/images/undo-32.png);
	}
	.users_16 {
		background-image: url(/images/users-32.png);
	}
	.vsort_16 {
		background-image: url(/images/vsort-32.png);
	}
	.bulb_32 {
		background-image: url(/images/bulb-64.png);
	}
	.chat_32 {
		background-image: url(/images/chat-64.png);
	}
	.coins_32 {
		background-image: url(/images/coins-64.png);
	}
	.drive_32 {
		background-image: url(/images/drive-64.png);
	}
	.error_32 {
		background-image: url(/images/error-64.png);
	}
	.face_crying_32 {
		background-image: url(/images/face-crying-64.png);
	}
	.face_grin_32 {
		background-image: url(/images/face-grin-64.png);
	}
	.face_plain_32 {
		background-image: url(/images/face-plain-64.png);
	}
	.face_sad_32 {
		background-image: url(/images/face-sad-64.png);
	}
	.face_smile_32 {
		background-image: url(/images/face-smile-64.png);
	}
	.heart_32 {
		background-image: url(/images/heart-64.png);
	}
	.html_32 {
		background-image: url(/images/html-64.png);
	}
	.important_32 {
		background-image: url(/images/important-64.png);
	}
	.internet_32 {
		background-image: url(/images/internet-64.png);
	}
	.junk_32 {
		background-image: url(/images/junk-64.png);
	}
	.mail_32 {
		background-image: url(/images/mail-64.png);
	}
	.news_32 {
		background-image: url(/images/news-64.png);
	}
	.notepad_32 {
		background-image: url(/images/notepad-64.png);
	}
	.picture_32 {
		background-image: url(/images/picture-64.png);
	}
	.plus_32 {
		background-image: url(/images/plus-64.png);
	}
	.shirts_32 {
		background-image: url(/images/shirts-64.png);
	}
	.stop_32 {
		background-image: url(/images/stop-64.png);
	}
	.tools_32 {
		background-image: url(/images/tools-64.png);
	}
	.update_32 {
		background-image: url(/images/update-64.png);
	}
	.usb_32 {
		background-image: url(/images/usb-64.png);
	}
	.users_32 {
		background-image: url(/images/users-64.png);
	}
	.warning_32 {
		background-image: url(/images/warning-64.png);
	}
	.workgroup_32 {
		background-image: url(/images/workgroup-64.png);
	}
	.aphone_64 {
		background-image: url(/images/aphone-128.png);
	}
	.apple_64 {
		background-image: url(/images/apple-128.png);
	}
	.beakers_64 {
		background-image: url(/images/beakers-128.png);
	}
	.binder_64 {
		background-image: url(/images/binder-128.png);
	}
	.chrome_64 {
		background-image: url(/images/chrome-128.png);
	}
	.computers_64 {
		background-image: url(/images/computers-128.png);
	}
	.devil_64 {
		background-image: url(/images/devil-128.png);
	}
	.drive_64 {
		background-image: url(/images/drive-128.png);
	}
	.gavel_64 {
		background-image: url(/images/gavel-128.png);
	}
	.globe_64 {
		background-image: url(/images/globe-128.png);
	}
	.hardhat_64 {
		background-image: url(/images/hardhat-128.png);
	}
	.internet_64 {
		background-image: url(/images/internet-128.png);
	}
	.joystick_64 {
		background-image: url(/images/joystick-128.png);
	}
	.lock_64 {
		background-image: url(/images/lock-128.png);
	}
	.microphone_64 {
		background-image: url(/images/microphone-128.png);
	}
	.microsoft_64 {
		background-image: url(/images/microsoft-128.png);
	}
	.moon_64 {
		background-image: url(/images/moon-128.png);
	}
	.movies_64 {
		background-image: url(/images/movies-128.png);
	}
	.news_64 {
		background-image: url(/images/news-128.png);
	}
	.pipedot_64 {
		background-image: url(/images/pipedot-128.png);
	}
	.robot_desktop_64 {
		background-image: url(/images/robot-desktop-128.png);
	}
	.soccer_64 {
		background-image: url(/images/soccer-128.png);
	}
	.tux_64 {
		background-image: url(/images/tux-128.png);
	}
	.ubunchu_64 {
		background-image: url(/images/ubunchu-128.png);
	}
	.pages_first {
		background-image: url(/images/first-32.png);
		background-size: 16px 16px;
	}
	.pages_last {
		background-image: url(/images/last-32.png);
		background-size: 16px 16px;
	}
	.pages_left {
		background-image: url(/images/left-32.png);
		background-size: 16px 16px;
	}
	.pages_right {
		background-image: url(/images/right-32.png);
		background-size: 16px 16px;
	}
	.pipe_down {
		background-image: url(/images/down-64.png);
		background-size: 32px 32px;
	}
	.pipe_minus {
		background-image: url(/images/minus-64.png);
		background-size: 32px 32px;
	}
	.pipe_plus {
		background-image: url(/images/plus-64.png);
		background-size: 32px 32px;
	}
	.pipe_undo {
		background-image: url(/images/undo-64.png);
		background-size: 32px 32px;
	}
	.pipe_up {
		background-image: url(/images/up-64.png);
		background-size: 32px 32px;
	}
	.logo_big {
		background-image: url(/images/logo-top-128.png);
		background-size: 240px 64px;
	}
	.logo_small {
		background-image: url(/images/logo-64.png);
		background-size: 32px 32px;
	}
	.map {
		width: 640px;
		height: 320px;
	}
}
.store_item_title {
	font-weight: bolder;
	font-size: 12pt;
}
.store_item_tag {
	font-weight: bolder;
}
.store_item_price {
	font-size: 20pt;
	line-height: 1.0;
}
.store_item_price sup {
	vertical-align: top;
	font-size: 12pt;
}
.store_item_shipping {
	font-size: 10pt;
	color: #008000;
	white-space: nowrap;
	padding-top: 4px;
	padding-bottom: 9px;
}
.store_item_feature {
	font-size: 10pt;
	font-weight: bolder;
	white-space: nowrap;
}
.store_cart_price {
	font-size: 10pt;
	text-align: right;
}
.store_cart_title {
	font-weight: bolder;
	font-size: 10pt;
}
.store_sort_by {
	text-align: right;
	white-space: nowrap;
}
.store_view {
	text-align: right;
	white-space: nowrap;
}
.store_page_bar {
	text-align: center;
}
.store_thumb_medium {
	border: 1px #d3d3d3 solid;
	width: 100px;
	height: 100px;
	margin-left: 4px;
	margin-bottom: 4px;
}
.store_image_800 {
	width: 800px;
	height: 800px;
}
.store_image_400 {
	width: 400px;
	height: 400px;
}
.store_image_100 {
	width: 100px;
	height: 100px;
}
.store_image_40 {
	width: 40px;
	height: 40px;
}
.store_thumb_100 {
	border: 1px #d3d3d3 solid;
	margin: 2px;
	padding: 2px;
	width: 100px;
	height: 100px;
}
.store_thumb_40 {
	border: 1px #d3d3d3 solid;
	margin: 2px;
	padding: 1px;
	width: 40px;
	height: 40px;
}
